@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.home-page-header {
  height: 70vh;
  background-image: linear-gradient(#000000bb, #000000bb),
    url(../images/banner/banner.jpg), var.$linear-gradient;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    .content-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-basis: 60%;
      padding: var.$gutter-base;

      .content-inner {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        .title {
          display: inline-block;
          position: relative;
          margin-bottom: math.div(var.$gutter-base, 2.5);
          font-size: var.$gutter-base * 1.5;
          text-transform: uppercase;
          &::before,
          &::after {
            content: "";
            height: math.div(var.$gutter-base, 5);
            position: absolute;
            background-color: var.$background-color-base;
            border-radius: 0px 5px 5px 0px;
            transition: 0.3s linear;
            left: 0;
          }
          &::before {
            width: 50%;
            bottom: 0;
          }
          &::after {
            width: 25%;
            bottom: -(math.div(var.$gutter-base, 3));
          }
          @include mix.mobile-l-styles {
            font-size: var.$gutter-base * 1.2;
          }
        }
        *:not(:last-child) {
          margin-bottom: var.$gutter-base;
        }
        p {
          margin-bottom: 0;
          font-size: math.div(var.$gutter-base, 1.7);
          @include mix.mobile-l-styles {
            font-size: math.div(var.$gutter-base, 1.875);
          }
        }
        .btn {
          display: inline-block;
          position: relative;
          padding: math.div(var.$gutter-base, 4) math.div(var.$gutter-base, 2);
          color: var.$text-color-base;
          background-color: transparent;
          border: 2px solid var.$background-color-tertiary;
          border-radius: math.div(var.$gutter-base, 6);
          font-weight: var.$font-weight-medium-bold;
          overflow: hidden;
          z-index: 0;
          &:hover {
            color: white;
            &::before {
              height: 200%;
            }
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 0%;
            background-color: var.$background-color-tertiary;
            border-radius: 0 0 50% 50%;
            transition: 0.5s ease;
            z-index: -1;
          }
        }
        @include mix.laptop-l-styles {
          width: unset;
          padding: math.div(var.$gutter-base, 2);
        }
        @include mix.laptop-m-styles {
          text-align: center;
        }
        @include mix.tablet-styles {
          padding: 0;
        }
      }
      @include mix.laptop-l-styles {
        flex-basis: 50%;
      }
      @include mix.laptop-m-styles {
        flex-basis: 100%;
      }
      @include mix.mobile-l-styles {
        padding: math.div(var.$gutter-base, 2);
      }
    }
    .img-box {
      flex-basis: 40%;
      padding: 5px 0px 5px 5px;
      border-radius: 50% 0% 0% 50%;
      background: var.$linear-gradient;
      img {
        height: 100%;
        border-radius: 50% 0% 0% 50%;
      }
      @include mix.laptop-l-styles {
        flex-basis: 50%;
      }
      @include mix.laptop-m-styles {
        display: none;
      }
    }
  }
}
